apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v3.9.0

        command: ["mlflow"]

        args:
          [
            "server",
            "--backend-store-uri", "sqlite:////mlflow/mlflow.db",
            "--default-artifact-root", "/mlflow/artifacts",
            "--host", "0.0.0.0",
            "--port", "5000"
          ]

        env:
        - name: MLFLOW_SERVER_ALLOWED_HOSTS
          value: "*"

        ports:
        - containerPort: 5000

        volumeMounts:
        - name: mlflow-storage
          mountPath: /mlflow

      volumes:
      - name: mlflow-storage
        emptyDir: {}